/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  margin: 0;
  padding: 0;
}
